<div layout="row" flex layout-padding layout-fill layout-align="center center"  ng-cloak>
    <div flex="40" flex-lg="50" flex-md="70" flex-xs="100">
        <md-card>
            <md-toolbar class="padding-20">
                <div layout="row" layout-align="center center">
                    <img ng-src="{{::vm.triSettings.logo}}" alt="{{vm.triSettings.name}}">
                    <!--<img ng-src="{{::vm.triSettings.logoMax}}" alt="{{vm.triSettings.name}}">-->
                </div>
                <div layout="row" layout-align="center center">
                    <h1 class="md-headline" translate>SIGNUP.TITLE</h1>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <form name="signup">
                    <md-input-container class="md-block">
                        <label for="firstName" translate>SIGNUP.FIRSTNAME.LABEL</label>
                        <input id="firstName" label="firstName" name="firstName" type="text" ng-model="vm.user.firstName" required/>
                        <div ng-messages="signup.firstName.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.FIRSTNAME.PLEASE_ENTER</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="lastName" translate>SIGNUP.LASTNAME.LABEL</label>
                        <input id="lastName" label="lastName" name="lastName" type="text" ng-model="vm.user.lastName" required/>
                        <div ng-messages="signup.lastName.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.LASTNAME.PLEASE_ENTER</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="username" translate>SIGNUP.USERNAME.LABEL</label>
                        <input id="username" label="username" name="username" type="text" ng-model="vm.user.username" required/>
                        <div ng-messages="signup.username.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.USERNAME.PLEASE_ENTER</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="email" translate>SIGNUP.EMAIL.LABEL</label>
                        <input id="email" label="email" name="email" type="email" ng-model="vm.user.email" required/>
                        <div ng-messages="signup.email.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.EMAIL.PLEASE_ENTER</span>
                            </div>
                            <div ng-message when="email">
                                <span translate>SIGNUP.EMAIL.PLEASE_VALID</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label for="password" translate>SIGNUP.PASSWORD.LABEL</label>
                        <input id="password" label="password" name="password" type="password" ng-model="vm.user.password" tri-same-password="signup.confirm" ng-minlength="8" required/>
                        <div ng-messages="signup.password.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.PASSWORD.PLEASE_ENTER</span>
                            </div>
                            <div ng-message when="minlength">
                                <span translate>SIGNUP.PASSWORD.MIN_LENGTH</span>
                            </div>
                            <div ng-message when="samePassword">
                                <span translate>SIGNUP.PASSWORD.SAME_PASSWORD</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label for="password" translate>SIGNUP.PASSWORD_CONFIRM.LABEL</label>
                        <input id="confirm" label="confirm" name="confirm" type="password" ng-model="vm.user.passwordRepeat" tri-same-password="signup.password" ng-minlength="8" required/>
                        <div ng-messages="signup.confirm.$error">
                            <div ng-message when="required">
                                <span translate>SIGNUP.PASSWORD.PLEASE_ENTER</span>
                            </div>
                            <div ng-message when="minlength">
                                <span translate>SIGNUP.PASSWORD.MIN_LENGTH</span>
                            </div>
                            <div ng-message when="samePassword">
                                <span translate>SIGNUP.PASSWORD.SAME_PASSWORD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <div>
                        <md-autocomplete flex required
                                md-input-name = "country"
                                md-selected-item="vm.countrySelector.objSelected"
                                md-search-text="vm.countrySelector.searchText"
                                md-items="country in vm.countrySelector.querySearch(vm.countrySelector.searchText)"
                                md-min-length="0"
                                md-selected-item-change="vm.countrySelector.selectedItemChange(vm.countrySelector.objSelected)"
                                md-item-text="country.name"
                                md-floating-label="{{vm.countrySelector.placeholder}}"
                                >
                            <md-item-template>
                            <span md-highlight-text="vm.countrySelector.searchText">{{country.name}}</span>
                                </md-item-template>
                            <md-not-found>
                                No states matching were found.
                            </md-not-found>

                        </md-autocomplete>
                    </div>

                    <md-button
                            class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"
                            ng-click="vm.signupClick()"
                            ng-disabled="!vm.flagValidationForm"
                            translate="SIGNUP.BUTTON"
                            aria-label="{{'SIGNUP.BUTTON' | translate}}">
                    </md-button>

                    <md-button  class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10"
                                ng-click="goToLogin()"
                                translate="SIGNUP.HAVE_LOGIN"
                                aria-label="{{'SIGNUP.HAVE_LOGIN' | translate}}">
                    </md-button>
                </form>
            </md-content>
        </md-card>
    </div>
</div>
